* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fefae0;
  color: #283618;
  font-family: "Poppins", sans-serif;
}

nav {
  color:white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #dda15e;
  height: 70px;
  position:fixed;
  z-index: 2;
  top:0px;
  width: 100%;
  border-bottom: 2px solid rgba(237, 223, 198, 0.5);;
}

.below-nav {
  height:70px;
}

nav ul{
  display: flex;
}

nav ul li{
  list-style: none;
  margin: 0px 5px;
}

nav ul li a{
  text-decoration: none;
  color: white;
  border: 1px solid transparent;
  padding: 5px;
}

nav ul li a:hover {
  /* color:#bc6c25; */
  border: 1px solid white;
  border-radius: .4rem;
}

.left {
  font-size: 1.5rem;
  padding-left: 50px;
}

.right {
  padding-right: 25px;
}

.section-1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 40px 0px;
}

.left-section {
  width: 40%;
  font-size: 1.6rem;
}

.left-section .buttons{
  padding-top: 4px;
}

.left-section .btn {
  background-color:#bc6c25;
  color: white;
  padding: 5px;
  border: 1px solid #dda15e;
  border-radius: 4px;
  margin-right: 20px;
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.left-section .btn:hover {
  box-shadow: -2px 4px 8px 0 rgba(247, 171, 19, 0.5);
}

.left-section .btn:active {
  border: 2px solid #dda15e;
  padding: 4px;
}

.right-section {
  width: 30%;
}

.right-section img {
  width: 100%;
}

.section-1 span {
  color:#606c38;
}

.section-2 {
  max-width: 85vw;
  margin: auto;
  height: 400px;
  margin-bottom: 50px;
}

.section-2 h1{
  font-size: 2rem;
}

.section-2 span {
  color: #606c38;
}

main hr {
  border-color: #bc6c25;
  margin: 80px 2%;
}

.section-2 .hor-line {
  background-color: #bc6c25;
  margin: 40px 0px;
  height: 2px;
  display: flex;
  justify-content: space-around;
}

.section-2 .vert-line {
  background-color: #bc6c25;
  width: 2px;
  height: 80px;
}

.image-top {
  height:20px;
  position: relative;
  top: -25px;
  left: -5px;
}

.vert-title{
  width: 100px;
  font-size: .9rem;
  position: relative;
  top: 60px;
  left: -35px;
}

.vert-desc {
  width: 180px;
  font-size: .8rem;
  position: relative;
  top: 70px;
  left: -35px;
}

footer {
  min-height:20vh;
  color: white;
}


.footer-end {
  background-color: #bc6c25;
  text-align: center;
  padding: 5px 0;
  font-size: .8rem;
}

.footer-start {
  background-color: #dda15e;
  display: flex;
  height: 200px;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.footer-start i {
  font-size: 1.1rem;
}

.footer-start > div{
  padding: 5px;
  cursor: pointer;
  transition: all;
  transition-duration: .5s;
}

.footer-start > div:hover {
  color: black;
}

.footer-start > div:active {
  color: black;
  transform: scale(.8,.8);

}


/* section-3 */

.section-3 {
  max-width: 85vw;
  margin: auto;
}

.section-3 h1{
  font-size: 2rem;
}

.project {
  margin-bottom: 40px;
  border: 1px solid #bc6c25;
  border-radius: 5px;
  padding: 10px;
}

.project .title, .description, .github-link, .deployment-link {
  margin: 10px 0px;
}

.project a {
  text-decoration: none;
  color: #283618;
}

.project a:hover{
  color: #606c38;
  margin-left: 0.4px;
}


.project iframe{
  position: relative;
  top: -143px;
  left: -236px;
  width: 150%;
  height: 600px;
  border: none;
  border-radius: 30px;
  margin: 3px;
  transition: all;
  transform: scale(0.5,0.5);
  overflow: hidden;
  background-color: white;
}

.project .hide-iframe {
  overflow-x: scroll;
  scrollbar-width: none;
}

.project .view {
  height: 380px;
}


