<div class="footer">
  <div class="footer-one">
    <ul>Footer part1
      <li>Home</li>
      <li>About</li>
      <li>Services</li>
      <li>Projects</li>
      <li>Contact Me</li>
    </ul>
  </div>

  <div class="footer-two">
    <ul>Footer part2
      <li>Home</li>
      <li>About</li>
      <li>Services</li>
      <li>Projects</li>
      <li>Contact Me</li>
    </ul>
  </div>

  <div class="footer-three">
    <ul>Footer part3
      <li>Home</li>
      <li>About</li>
      <li>Services</li>
      <li>Projects</li>
      <li>Contact Me</li>
    </ul>
  </div>
</div>

<div class="footer-end">
  Copyright &#169 | All rights reserved.
</div>