<div id="foot" class="footer-start">
  <div class="linkedin">
    <i class="fa-brands fa-linkedin"></i>
    <p>LinkedIn</p>
  </div>
  <div class="email">
    <i class="fa-solid fa-envelope"></i>
    <p>Email</p>
  </div>
  <div class="insta">
    <i class="fa-brands fa-square-instagram"></i>
    <p>Instagram</p>
  </div>
  <div class="x-twitter">
    <i class="fa-brands fa-x-twitter"></i>
    <p>X-Twitter</p>
  </div>
</div>

<div class="footer-end">
  <div>Made by Rahul Rawat</div>
  Copyright &#169 | All rights reserved.
</div>