<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <title>Rahul - Developer Portfolio</title>
  </head>

  <body>

    <header>
      {% include "navbar.html" %}
    </header>

    <main>
      <section class="section-1">
        <div class="left-section">
          Hi, My name is <span>Rahul Rawat</span>
          <div>and I am a passionate</div>
          <div><span id="element"></span></div>
          <div class="buttons">
            <button  id="resume-btn" class="btn">Download Resume</button>
            <button id="github-btn" class="btn">Visit Github</button>
          </div>
        </div>

        <div class="right-section">
          <img src="/static/bg2.png">
        </div>
      </section>

      <hr>

      <section class="section-2">
        <span>Here is</span>
        <h1>My Education </h1>

        <div class="hor-line">
          <div class="vert-line">
            <img src="/static/developer.png" alt="" class="image-top">
            <div class="vert-title">
              Secondary (X)<br>(2016-2017)
            </div>
            <div class="vert-desc">
              <pre>City Sr. Sec. School, 
Bawani Khera, Bhiwani
(CBSE board)
CGPA: 10.00/10</pre>
            </div>
          </div>

          <div class="vert-line">
            <img src="/static/developer.png" alt="" class="image-top">
            <div class="vert-title">
              Senior Secondary (XII), Science<br>(2018-2019)
            </div>
            <div class="vert-desc">
              <pre>City Sr. Sec. School, 
Bawani Khera, Bhiwani
(CBSE board)
Percentage: 85.20%</pre>
            </div>
          </div>

          <div class="vert-line">
            <img src="/static/developer.png" alt="" class="image-top">
            <div class="vert-title">
              B.Tech, Computer Engineering<br>(2020-2024)
            </div>
            <div class="vert-desc">
              <pre>JC Bose University Of 
Science And Technology,
YMCA, Faridabad
CGPA: 8.61/10</pre>
            </div>
          </div>
        </div>
      </section>

      <hr>

      <section class="section-3">
        <span>Here is</span>
        <h1>My Projects</h1>
        {% for project in projects %}
          <div class="project">
            <div class="title">
              <h3>Project title:</h3>
              <p>{{project["title"]}}</p>
            </div>
            <div class="description">
              <h3>Project description:</h3>
              <p>{{project["description"]}}</p>
            </div>
            <div class="github-link">
              <h3>Github link:</h3>
              <a target="_blank" href={{project['github_link']}}>{{project["github_link"]}}</a>
            </div>
            <div class="deployment-link">
              <h3>Deployment link:</h3>
              <a target="_blank" href={{project["deployment_link"]}}>{{project["deployment_link"]}}</a>
            </div>
            <div class="view">
              <h3>Display:</h3>
              <div class="hide-iframe">
                <iframe  src={{project["deployment_link"]}}></iframe>
              </div>
            </div>
          </div>
        {% endfor %}
      </section>
    </main>

    <footer>
      {% include "footer.html" %}
    </footer>

    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <script>
      var typed = new Typed('#element', {
        strings: ['Web Developer',"Python Developer"],
        typeSpeed: 50,
      });
    </script>
    <script src="/static/script.js"></script>
  </body>
</html>