<nav>
  <div class="left">Rahul's Portfolio</div>
  <div class="right">
    <div class="outter">
      <div class="inner">
        <ul>
          <li><a id="home-btn" scroll-to="body">Home</a></li>
          <li><a id="skills-btn" scroll-to="#s-4">Skills</a></li>
          <li><a id="edu-btn" scroll-to="#s-2">Education</a></li>
          <li><a id="projects-btn" scroll-to="#s-3">Projects</a></li>
          <li><a id="foot-btn" scroll-to="#foot">Contact&nbsp;Me</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div class="below-nav"></div>