<section id="s-2"class="section-2">
  <span>Here is</span>
  <h1>My Education </h1>

  <div class="hor-line">
    <div class="vert-line">
      <img src="/static/developer.png" alt="" class="image-top">
      <div class="vert-title">
        Secondary (X)<br>(2016-2017)
      </div>
      <div class="vert-desc">
        <pre>City Sr. Sec. School, 
Bawani Khera, Bhiwani
(CBSE board)
CGPA: 10.00/10</pre>
      </div>
    </div>

    <div class="vert-line">
      <img src="/static/developer.png" alt="" class="image-top">
      <div class="vert-title">
        Senior Secondary (XII), Science<br>(2018-2019)
      </div>
      <div class="vert-desc">
        <pre>City Sr. Sec. School, 
Bawani Khera, Bhiwani
(CBSE board)
Percentage: 85.20%</pre>
      </div>
    </div>

    <div class="vert-line">
      <img src="/static/developer.png" alt="" class="image-top">
      <div class="vert-title">
        B.Tech, Computer Engineering<br>(2020-2024)
      </div>
      <div class="vert-desc">
        <pre>JC Bose University Of 
Science And Technology,
YMCA, Faridabad
CGPA: 8.61/10</pre>
      </div>
    </div>
  </div>
</section>